@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 1.5rem 0;
}

.isActive {
  filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
}

.isActive:hover {
  filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
}

::-webkit-scrollbar {
  background-color: #eee;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #04d361;
}
